<%= form_with model: Todo.new, id: "new_todo", class: "d-flex", data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" } do |f| %>
  <%= f.text_field :description, placeholder: "Add a new todo...", autofocus: true, class: "form-control" %>

  <%= f.submit "Add", class: "btn btn-primary ms-2" %>
  <button type="reset" value="reset" class="btn btn-secondary ms-2">Cancel</button>
<% end %>
