<div class="container-fluid p-5 bg-white shadow">
  <%= render "form" %>
  <br />

  <div>
    <h5><%= Todo.complete.count %> / <%= Todo.all.count %> Complete</h5>
    <hr />

    <div id="todos">
      <%= render @todos %>
    </div>
  </div>
</div>
